* {
  margin: 0;
}

body {
  background: linear-gradient(0deg, #83bbe5, #7599e9 40%, #83bbe5);
}

.App {
  height: 100%;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.App-header img {
  display: block;
  margin: auto;
  width: 250px;
}

.App-header nav {
  display: flex;
  flex-direction: row;
}

.App-header nav a img {
  position: relative;
  margin: 0;
  padding: 0;
  left: 5px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.App-header nav button {
  display: flex;
  justify-content: center;
  position: relative;
  top: -25%;
  height: 150%;
  width: 50%;
  min-width: 70px;
  background-color: transparent;
  border: none;
  font-size: calc(9px + 1vmin);
}

.App-header nav button:hover {
  color: #ef8d22;
  cursor: pointer;
}

.App-header form {
  background-color: #ffdba9;
  border: solid 3px #ef8d22;
  flex-grow: 1;
  display: flex;
}

.App-header input {
  flex-grow: 1;
  margin: 10px;
  padding-left: 10px;
  border-radius: 30px;
  border-color: #ffdba9;
  width: 15vw;
}

.App-header a {
  display: flex;
  justify-content: center;
  flex-grow: 3;
  background-color: #ffdba9;
  text-decoration: none;
  color: black;
  border: 3px solid #ef8d22;
  font-size: calc(10px + 1vmin);
  font-family: liberation-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  cursor: default;
}

.homepage img {
  display: block;
  margin: auto;
  position: relative;
  top: 10%;
}

.homepage-sign-in-btn {
  position: absolute;
  right: 0;
  background-color: #b2d6ef;
  border: 3px solid #b2d6ef;
  margin-top: 10px;
  margin-right: 10px;
  box-shadow: 3px 3px;
  text-decoration: none;
  color: black;
}

.homepage-sign-in-btn:hover {
  color: blue;
}

.homepage-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  position: relative;
  top: 20%;
}

.homepage-buttons button#fixme {
  flex-direction: row;
}

.homepage-buttons a, .homepage-buttons button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: black;
  background-color: #ffdba9;
  border-radius: 1.5rem;
  border: 3px solid #ef8d22;
  text-align: center;
  width: 20vw;
  height: 20vw;
  min-width: 150px;
  min-height: 150px;
  font-size: calc(10px + 2vmin);
  font-family: liberation-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  box-shadow: 5px 5px;
  cursor: pointer;
}

.homepage-buttons a:hover, .homepage-buttons button:hover {
  color: #ef8d22;
}

.login-page {
  text-align: center;
  position: relative;
  top: 15%;
}

.login-page form {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page input[type="text"], .login-page input[type="password"] {
  border: 1px solid black;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 60vw;
  max-width: 500px;
}

.login-page input[type="submit"] {
  background-color: #ffdba9;
  border: 3px solid #ef8d22;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 30vw;
  max-width: 200px;
  box-shadow: 5px 5px;
}

.login-page input[type="submit"]:hover {
  color: #ef8d22;
  cursor: pointer;
}

.list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 5%;
}

.list-page a#add-article-btn {
  background: #ffdba9;
  border: 3px solid #ef8d22;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  color: black;
  box-shadow: 2px 2px;
  width: 200px;
  text-align: center;
  margin-bottom: 40px;
}

.list-page a#add-article-btn:hover {
  color: #ef8d22;
}

.list-page h2 {
  margin-bottom: 20px;
}

.list-btn {
  text-decoration: none;
}

.list-btn button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #ffdba9;
  border: 3px solid #ef8d22;
  padding: 10px;
  font-size: calc(10px + 1vmin);
  cursor: pointer;
  margin-bottom: 20px;
  width: 30vw;
  box-shadow: 2px 2px;
  border-radius: 10px;
}

.list-btn button:hover {
  color: #ef8d22;
}

.list-btn div {
  margin: auto;
}

.list-btn img {
  width: 50px;
}

.question-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  text-decoration: none;
  margin-bottom: 20px;
}

.question-list-container button {
  margin: 0;
}

.question-list-container a#answer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  background-color: #ffdba9;
  border: 3px solid #ef8d22;
  width: 30%;
  padding: 1vw;
  margin-left: 1vw;
  box-shadow: 2px 2px;
  border-radius: 10px;
}

.question-list-container a#answer-btn:hover {
  color: #ef8d22;
}

.search-view {
  display: flex;
}

.search-view .list-page {
  width: 50vw;
}

.search-term{
  text-align: center;
  padding: 40px;

}

.search-page input{
  flex-grow: 1;
  margin: 10px;
  padding-left: 10px;
  border-radius: 30px;
  border-color: #ffdba9;
  width: 20vw;
  height: 2vw;
  margin-top: 220px;
  display: flex;
}

.search-page input[type="submit"] {
  background-color: #ffdba9;
  border: 3px solid #ef8d22;
  padding-left: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 20vw;
  max-width: 80px;
  height: 50px;
  box-shadow: 5px 5px;
  text-align: center;
}

.search-page input[type="submit"]:hover {
  color: #ef8d22;
  cursor: pointer;
}

.search-page-back-button {
  font: 11px Arial;
  border: 3px solid #ef8d22;
  border-radius: 30px;
  text-decoration: none;
  color: #333333;
  background-color: #ffdba9;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 30px;
  width: 20vw;
  height: 50px;
  max-width: 100px;
  box-shadow: 5px 5px;
  text-align: center;
}

.search-page-back-button:hover {
  color: #ef8d22;
  cursor: pointer;
}

.standard-button {
  background: #ffdba9;
  border: 3px solid #ef8d22;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  color: black;
  box-shadow: 2px 2px;
  text-align: center;
  margin-bottom: 40px;
  cursor: pointer;
}

.standard-button:hover {
  color: #ef8d22;
}

.standard-input {
  flex-grow: 1;
  margin: 10px;
  padding-left: 10px;
  border-radius: 30px;
  border-color: #ffdba9;
  width: 93%;
}

.submit-article-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 5%;
}

div.DraftEditor-root {
  height: 50vh;
  overflow-y: auto;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
}

.view-aq-form{
  position: relative;
  background-color: #87CEFA;
  padding-top: 30px;
  horiz-align: center;
  vertical-align: center;
  padding-bottom:300px;
  margin-left: 30%;
  margin-right: 30%;
  min-width: 300px;

}

.view-aq_title{
  text-align: center;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 60px;
}

.view-aq_contents{
  text-align: center;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 30px;
}


.question-answer-page {
  position: relative;
  top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-answer-page p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 30px 30px;
  background-color: #b2d6ef;
  width: 60%;
}

.wysiwyg-input {
  margin-top: 20px;
  min-height: 200px;
}

.question-answer-page-button {
  margin-top: 30px;
  margin-left: 30px;
}