.App {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(0deg, #83bbe5, #7599e9 40%, #83bbe5);
}

.App-header {
  position: absolute;
  width: 100vw;
}

.App-header img {
  display: block;
  margin: 15px auto 15px;
}

.App-header nav {
  display: flex;
  flex-direction: row;
}

.App-header form {
  background-color: #ffdba9;
  border: solid 3px #ef8d22;
  flex-grow: 1;
  display: flex;
}

.App-header input {
  flex-grow: 1;
  margin: 10px;
  padding-left: 10px;
  border-radius: 30px;
  border-color: #ffdba9;
}

.App-header a {
  flex-grow: 3;
  background-color: #ffdba9;
  text-decoration: none;
  color: black;
  padding: 15px;
  border: 3px solid #ef8d22;
  font-size: calc(10px + 1vmin);
  font-family: liberation-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

.homepage img {
  display: block;
  margin: auto;
  position: relative;
  top: 10%;
}

.homepage-sign-in-btn {
  position: absolute;
  right: 0;
  background-color: #b2d6ef;
  border: 3px solid #b2d6ef;
  margin-top: 10px;
  margin-right: 10px;
  box-shadow: 3px 3px;
  text-decoration: none;
  color: black;
}

.homepage-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  position: relative;
  top: 20%;
}

.homepage-buttons button#fixme {
  flex-direction: row;
}

.homepage-buttons a, button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: black;
  background-color: #ffdba9;
  border-radius: 1.5rem;
  border: 3px solid #ef8d22;
  text-align: center;
  width: 20vw;
  height: 20vw;
  min-width: 150px;
  min-height: 150px;
  font-size: calc(10px + 2vmin);
  font-family: liberation-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  box-shadow: 5px 5px;
  cursor: pointer;
}

.homepage-buttons a:hover, button:hover {
  color: #ef8d22;
}
